<%- include('../header.ejs') %>

<h2 style="text-align: center;">Trang Nhà Cung Cấp </h2>
<div class="container mt-3">

<div class="row "style="margin:20px 0px">

<div class="col-xs-3 col-sm-3 col-md-3 col-lg-4" style="text-align:center">

    <a href="/add-Nhacungcap" class="btn btn-outline-primary" style='font-size:19px'>Thêm Mới <i class='fas fa-edit'></i></a>
</div>

<div class="col-xs-9 col-sm-9 col-md-9 col-lg-8" >
    <form class="d-flex" style="width:500px">
        <input class="form-control me-2" type="text" placeholder="Search" required>
        <button class="btn btn-outline-primary"  type="button">Search</button>
    </form>
</div>
</div>

    
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Nhà cung cấp Id</th>
                    <th>Name</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Phone</th>
                    


                </tr>
            </thead>
            <tbody>

              <% cat.forEach(item=>{%>

                <tr>

                    <td><input type="checkbox"></td>
                    <td><%=item.id%></td>
                    <td><%=item.name%></td>
                    <td><%=item.diachi%></td>
                    <td><%=item.email%></td>
                    <td><%=item.phone%></td>
                    

                    <td>
                        <form action="/Nhacungcap/delete/<%= item.id %>" method="post">
                        <a href="/edit-Nhacungcap/<%= item.id %>" class="btn "><i class='fas fa-wrench' style='font-size:22px;color:blue'></i></a>
                        
                       
                        <button type="submit" class="btn "><i class='fas fa-backspace' style='font-size:20px;color:red'></i></button>
                        </form>
                    </td>

                </tr>
                <%})%>
            </tbody>

        </table>
</div>




<%- include('../footer.ejs') %>