<%- include('../header.ejs') %>

<div class="container mt-3">
  <h1>Thêm mới sản phẩm</h1>

  <form action="/post-edit-Nhacungcap" method="post" >


    <div class="mb-3 mt-3">
        <label for="name">Name :</label>
        <input type="text" class="form-control" value="<%= cate.name %>" placeholder="Nhập Tên" name="name">
    </div>
    <input type="hidden" name="id" value="<%= cate.id %>">
    <div class="mb-3">
        <label for="Diachi">Dịa chỉ :</label>
        <input type="text" class="form-control" value="<%= cate.diachi %>" placeholder="Nhập Địa chỉ" name="diachi">
    </div>


    <div class="mb-3">
        <label for="Email">Email : </label>
        <input type="text" class="form-control" value="<%= cate.email %>" placeholder="Nhập Email" name="email">
    </div>
    <div class="mb-3">
        <label for="Phone">Phone : </label>
        <input type="number" class="form-control" value="<%= cate.phone %>" placeholder="Nhập số điện thoại" name="phone">
    </div>



    
   
    <button type="submit" class="btn btn-primary">Lưu lại</button>
    <a href="/Nhacungcap" class="btn btn-danger">Quay lại</a>
  </form>
</div>


<%- include('../footer.ejs') %>